<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sub2Unlock - Link Shortner Service
        <link rel="shortcut icon" href="https://sub2unlock-b9d6.kxcdn.com/frontend/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="https://sub2unlock-b9d6.kxcdn.com/frontend/images/favicon.ico" type="image/x-icon">
        script(src="https://cdn.jsdelivr.net/npm/pace-js@1.0.2/pace.min.js")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/pace-js@1.0.2/themes/red/pace-theme-corner-indicator.css")
        link(rel="stylesheet" href="https://sub2unlock-b9d6.kxcdn.com/assets/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://sub2unlock-b9d6.kxcdn.com/assets/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://sub2unlock-b9d6.kxcdn.com/assets/css/style2.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
    body

        include Navbar.pug
        block content
        include Footer.pug

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer)
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-76794494-3" async)
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-76794494-3');
        block footer
