.col-md-12.col-sm-12.col-xs-12.footer_linkDiv
    footer.footer_styl
        .container
            .col-md-12.col-sm-12.col-xs-12.ftr_mob
                .col-md-3.col-sm-4.col-xs-12.ftr_clm1
                    p © 2018 Miro Services
                    a.dmca-badge(href='//www.dmca.com/Protection/Status.aspx?ID=edc55005-6ebb-4441-8ba5-eb1c4f8a571e', title='DMCA.com Protection Status')
                        img(src='//images.dmca.com/Badges/dmca-badge-w150-5x1-01.png?ID=edc55005-6ebb-4441-8ba5-eb1c4f8a571e', alt='DMCA.com Protection Status')
                    script(src='//images.dmca.com/Badges/DMCABadgeHelper.min.js')
                .col-md-3.col-sm-4.col-xs-12.ftr_clm2
                    ul.footer-clmn
                        li
                            a(href='mailto:sub2unlockadvert@gmail.com') Advertise here
                .col-md-3.col-sm-4.col-xs-12.ftr_clm3
                    ul.footer-clmn
                        li
                            a(href='privacyPolicy.php') Privacy Policy
                        li
                            a(href='https://www.facebook.com/Sub2Unlock-340049886503396/') Support
                .col-md-3.col-sm-4.col-xs-12.ftr_clm4
                    a(href='http://vk.com/share.php?url=http://sub2unlock.com', target='_blank')
                        i.fa.fa-vk(aria-hidden='true')
                    a(href='http://www.facebook.com/share.php?u=http://sub2unlock.com/&title=Sub2Unlock', target='_blank')
                        i.fa.fa-facebook
                    a(href='http://twitter.com/home?status=Sub2Unlock+http://sub2unlock.com/', target='_blank')
                        i.fa.fa-twitter
