nav.navbar.top_nv.navbar-fixed-top.affix(data-spy='affix', data-offset-top='100')
    .container
        ul.nav.navbar-nav
            li.pull-left
                a(
                    href=BASE_URL + '/auth/register'
                )
                    img(src='https://sub2unlock-b9d6.kxcdn.com/assets/images/logo.png')
            - if (!isGuest) {
                li.pull-right.signup_free
                    a(
                        href=BASE_URL + '/auth/logout'
                    ) Logout
                li.pull-right.secnd_btn
                    a(
                        href=BASE_URL + '/link/create'
                    ) Create
            - } else {
                li.pull-right.signup_free
                    a(
                        href=BASE_URL + '/auth/login'
                    ) Login
                li.pull-right.secnd_btn
                    a(
                        href=BASE_URL + '/link/register'
                    ) Register
            - }
