extends Partials/App.pug

block content
    .container.cntr_styl
        form(
            action=BASE_URL + '/link/create',
            method='post'
        )#createLinkForm
            .row.cntr_cntnt
                .col-md-12.col-sm-12.col-xs-12.chse_title
                    .form-group
                        label Link Text:
                        i#add_btn.fa.fa-plus.fa-2x
                        i#btn1.fa.fa-minus.fa-2x
                        select.form-control(name='Title', required='')
                            option(value='UNLOCK THE DOWNLOAD!') SUB TO UNLOCK
                            option(value='SUB TO UNLOCK!') UNLOCK DOWNLOAD LINK
                            option(value='SUBSCRIBE TO UNLOCK!') SUBSCRIBE TO UNLOCK DOWNLOAD LINK!
                            option(value='FOLLOW THE STEPS!') FOLLOW MENTIONED STEPS
                .col-md-12.col-sm-12.col-xs-12.ten_links
                    .col-md-6.col-sm-12.col-xs-12.fr_links
                        .form-group
                            label Link 1:
                            input.form-control(type='url', name='title_link', required='')
                        .form-group.choose_div
                            select#1.form-control.dependent(name='media')
                                option(value='', selected='') CHOOSE CATEGORY
                                option(value='YouTube') YouTube
                                option(value='Facebook') Facebook
                                option(value='Instagram') Instagram
                                option(value='Twitter') Twitter
                                option(value='Custom') Custom
                            select#cs1.form-control(name='title_link_opt', required='')
                                option(value='', selected='') CHOOSE LABEL
                            input#txt1.form-control(type='text', width='49%', style='display: none;')
                            p.errtxt1(style='color:red')
                .col-md-12.col-sm-12.col-xs-12.link_idsty
                    .form-group.link_id
                        label(for='usr') LOCKED URL:
                        input.form-control(type='url', name='link_id', required='')
                    .form-group.link_get
                        select.form-control(name='get_link', required='')
                            option(value='UNLOCK') UNLOCK
                            option(value='DOWNLOAD') DOWNLOAD
                            option(value='ENTER') ENTER
                            option(value='GET LINK') GET LINK
                            option(value='NEXT') NEXT
                            option(value='SKIP') SKIP
                            option(value='CUSTOM') CUSTOM
                        input#lock_txt.form-control(type='text', width='100%', style='display: none;', placeholder='UNLOCK BUTTON LABEL')
                        p.error(style='color:red')
                .col-md-12.col-sm-12.col-xs-12.create_btn
                    button(type='submit', name='create') Generate!

block footer
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script.
        $('body').on('change', '.dependent', function()
        {
            var id = $(this).attr('id');
            var value = $(this).val();
            if (value == 'Custom')
            {
                $('#cs' + id).removeAttr("name");
                $('#cs' + id).removeAttr("required");
                $('#cs' + id).css('display', 'none');
                $('#txt' + id).css(
                {
                    "display": "inline-block",
                    "float": "left",
                    "width": "49%",
                    "height": "29px"
                });
                $('#txt' + id).attr("name", "title_link_opt");
                $('#txt' + id).attr("required", "required");
                $('#txt' + id).addClass("btnTxt");
            }
            if (value == 'YouTube')
            {
                $('#txt' + id).removeAttr("name");
                $('#txt' + id).removeAttr("required");
                $('#txt' + id).css(
                {
                    "display": "none",
                    "float": "none",
                    "width": "0%",
                    "height": "0px"
                });
                $('#cs' + id).css('display', 'block');
                $('#cs' + id).attr("name", "title_link_opt");
                $('#cs' + id).attr("required", "required");
                $('#txt' + id).removeClass("btnTxt");
                $('#cs' + id).children('option:not(:first)').remove();
                $('#cs' + id).append('<option value="LIKE">LIKE</option><option value="SUBSCRIBE">SUBSCRIBE</option><option value="COMMENT">COMMENT</option><option value="SHARE">SHARE</option><option value="SUB & LIKE">SUB & LIKE</option><option value="SUB & HIT BELL">SUB & HIT BELL</option>');
            }
            if (value == 'Facebook')
            {
                $('#txt' + id).removeAttr("name");
                $('#txt' + id).removeAttr("required");
                $('#txt' + id).css(
                {
                    "display": "none",
                    "float": "none",
                    "width": "0%",
                    "height": "0px"
                });
                $('#cs' + id).css('display', 'block');
                $('#cs' + id).attr("name", "title_link_opt");
                $('#cs' + id).attr("required", "required");
                $('#txt' + id).removeClass("btnTxt");
                $('#cs' + id).children('option:not(:first)').remove();
                $('#cs' + id).append('<option value="LIKE">LIKE</option><option value="SHARE">SHARE</option><option value="COMMENT">COMMENT</option><option value="REACT">REACT</option><option value="FOLLOW">FOLLOW</option>');
            }
            if (value == 'Instagram')
            {
                $('#txt' + id).removeAttr("name");
                $('#txt' + id).removeAttr("required");
                $('#txt' + id).css(
                {
                    "display": "none",
                    "float": "none",
                    "width": "0%",
                    "height": "0px"
                });
                $('#cs' + id).css('display', 'block');
                $('#cs' + id).attr("name", "title_link_opt");
                $('#cs' + id).attr("required", "required");
                $('#cs' + id).children('option:not(:first)').remove();
                $('#cs' + id).append('<option value="FOLLOW">FOLLOW</option><option value="SHARE">SHARE</option><option value="LIKE">LIKE</option><option value="COMMENT">COMMENT</option>');
            }
            if (value == 'Twitter')
            {
                $('#txt' + id).removeAttr("name");
                $('#txt' + id).removeAttr("required");
                $('#txt' + id).css(
                {
                    "display": "none",
                    "float": "none",
                    "width": "0%",
                    "height": "0px"
                });
                $('#cs' + id).css('display', 'block');
                $('#cs' + id).attr("name", "title_link_opt");
                $('#cs' + id).attr("required", "required");
                $('#txt' + id).removeClass("btnTxt");
                $('#cs' + id).children('option:not(:first)').remove();
                $('#cs' + id).append('<option value="TWEET">TWEET</option><option value="RETWEET">RETWEET</option><option value="SHARE">SHARE</option><option value="LIKE">LIKE</option>');
            }
        });
        $(document).ready(function()
        {
            $('.link_get select').change(function()
            {
                var getval = $(this).val();
                if (getval == 'CUSTOM')
                {
                    $('.link_get select').removeAttr("name");
                    $('.link_get select').removeAttr("required");
                    $('.link_get select').css('display', 'none');
                    $('.link_get #lock_txt').css(
                    {
                        "display": "block",
                        "float": "left",
                        "width": "100%"
                    });
                    $('.link_get #lock_txt').attr("name", "get_link");
                    $('.link_get #lock_txt').attr("required", "required");
                }
                else
                {
                    $('.link_get #lock_txt').removeAttr("name");
                    $('.link_get #lock_txt').removeAttr("required");
                    $('.link_get #lock_txt').css(
                    {
                        "display": "none",
                        "float": "none",
                        "width": "0%"
                    });
                    $('.link_get select').css('display', 'block');
                    $('.link_get select').attr("name", "get_link");
                    $('.link_get select').attr("required", "required");
                }
            });
            $('body').on('blur', '.btnTxt', function()
            {
                var id = $(this).attr('id');
                var value = $(this).val();
                var trimStr = $.trim(value);
                var txtToMatch = ['hacks', 'hack', 'pirate', 'torrent', 'swear'];
                var mtch = $.inArray(trimStr, txtToMatch);
                if (mtch !== null && mtch > -1)
                {
                    this.value = "";
                    $(".err" + id).html("'" + value + "' can't used as label.");
                }
                else
                {
                    $(".err" + id).html("");
                }
            });
            $('#lock_txt').on('blur', function()
            {
                var inp1 = $(this).val();
                var trimStr = $.trim(inp1);
                var txtToMatch = ['hacks', 'hack', 'pirate', 'torrent', 'swear'];
                var mtch = $.inArray(trimStr, txtToMatch);
                if (mtch !== null && mtch > -1)
                {
                    this.value = "";
                    $(".error").html("The word " + inp1 + " can not used as label.");
                }
                else
                {
                    $(".error").html("");
                }
            });
        });
        $(document).ready(function(){
            	var count = 1;
                $("#btn1").click(function(){
            		if ($('.fr_links').length > 1) 
            			$(".fr_links:last").remove();
            			if(count>1){
            			    count--;
            			}
            		return false;
                });
            	
                $("#add_btn").click(function(){
            		count++;
                	if(!$('.fr_links').length){
                    	 $(".ten_links").append('<div class="col-md-6 col-sm-12 col-xs-12 fr_links"><div class="form-group"><label>Link '+count+':</label><input type="url" class="form-control" name="title_link" required></div><div class="form-group choose_div"><select class="form-control dependent" id="'+count+'" name="media"><option value="" selected>CHOOSE CATEGORY</option><option value="YouTube">YouTube</option><option value="Facebook">Facebook</option><option value="Instagram">Instagram</option><option value="Twitter">Twitter</option><option value="Custom">Custom</option></select><select class="form-control" id="cs'+count+'" name="title_link_opt"required><option value="" selected>CHOOSE LABEL</option></select><input type="text" class="form-control" id="txt'+count+'" width="49%" style="display: none;"><p class="errtxt'+count+'" style="color:red"></p></div></div>');
                    }else{
            			if($('.fr_links').length < 10){
            				$('<div class="col-md-6 col-sm-12 col-xs-12 fr_links"><div class="form-group"><label>Link '+count+':</label><input type="url" class="form-control" name="title_link" required></div><div class="form-group choose_div"><select class="form-control dependent" id="'+count+'" name="media"><option value="" selected>CHOOSE CATEGORY</option><option value="YouTube">YouTube</option><option value="Facebook">Facebook</option><option value="Instagram">Instagram</option><option value="Twitter">Twitter</option><option value="Custom">Custom</option></select><select class="form-control" id="cs'+count+'" name="title_link_opt" required><option value="" selected>CHOOSE LABEL</option></select><input type="text" class="form-control" id="txt'+count+'" width="49%" style="display: none;"><p class="errtxt'+count+'" style="color:red"></p></div></div>').insertAfter(".fr_links:last");
            			}else{
            				return false;
            			}
                    }
                });

                $('#createLinkForm').on('submit', function (e) {
                    e.preventDefault();
                    Pace.track(function () {
                        $.ajax({
                            type: 'POST',
                            url: window.location.origin + '/link/create',
                            data: $('#createLinkForm').serialize(),
                            success: function (data) {
                                window.location.href = window.location.origin + "/user/dashboard?created=" + data;
                            },
                            error: function (error) {
                                swal('Oops', error.responseText, 'error');
                            }
                        });
                    });
                })
            });
