extends Partials/App.pug

block content
    .container.cntr_styl2
        .row.cntr_cntnt
            .col-md-12.col-sm-12.col-xs-12.disply_link
                input(type='hidden', name='user_id', value="3")
            .col-md-12.col-sm-12.col-xs-12.linkcount_detail
                .col-md-4.col-sm-4.col-xs-12.linkcount_uses
                    p
                        | #{action_sum}
                        i.fa.fa-reorder
                    p Subscribers Gained
                .col-md-4.col-sm-4.col-xs-12.linkcount_views
                    p
                        | #{view_sum}
                        i.fa.fa-reorder
                    p TOTAL VIEWS
                .col-md-4.col-sm-4.col-xs-12.linkcount_stu
                    p
                        | #{s2u_attempt}
                        i.fa.fa-reorder
                    p STU ATTEMPTS
            .col-md-12.col-sm-12.col-xs-12.home_datatbl
                .table-responsive
                    table.table
                        thead
                            tr
                                th Sub2Unlock Links:
                                th COMPLETED
                                th ACTION
                                th DELETE
                        tbody
                            - if (!links.length) {
                                tr
                                    td(colspan='4')
                                        center No data available
                            - } else {
                            -   for (link in links) {
                                    tr
                                        td
                                            a(
                                                href=BASE_URL + "/" + links[link].refer_id
                                                target='_blank' 
                                                class='refer_link'
                                                id=links[link].refer_id
                                            ) #{BASE_URL}/#{links[link].refer_id}
                                        td #{links[link].completed_stu}
                                        td #{links[link].action}
                                        td
                                            a.trashLink.btn-delete(onClick="deleteLink('" + links[link].refer_id + "')")
                                                i.fa.fa-trash-o
                            -   }
                            - }
    style.
        @media only screen and (width : 1920px){.cntr_cntnt{min-height:1017px}.footer_styl{position:relative}}

block footer
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script.
        function deleteLink (refer_id) {
            swal({
                title: 'Delete important stuff?',
                text: 'That doesn\'t seem like a good idea. Are you sure you want to do that?',
                icon: 'warning',
                buttons: true,
                dangerMode: true
            }).then(function (willDelete) {
                if (willDelete) {
                    Pace.track(function () {
                        $.ajax({
                            url: window.location.origin + '/link',
                            type: 'DELETE',
                            data: { refer: refer_id },
                            success: function(data) {
                                swal("Poof!", "Your link now has been deleted!", "success");
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            },
                            error: function (error) {
                                swal("Damn!", "Your link couldn't be deleted. Contact us", "error");
                            }
                        })
                    });
                } else {
                    swal("Phew!", "Your link is very safe in our hands", "success");
                }
            });
        }
        $(document).ready(function () {
            var url = new URL(window.location.href);
            var created = url.searchParams.get('created');

            if (created) {
                swal('Yay', 'The link was successfully created. Awesome!', 'success');
            }
        });
