extends Partials/App.pug

block content
    .col-md-12.col-sm-12.col-xs-12.main_linkDiv
        .col-md-12.col-sm-12.col-xs-12.cntr_linkDiv
            .col-md-12.col-sm-12.col-xs-12.linkDiv_head
                h2 One Last Step.
            br
            br
            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            ins.adsbygoogle(
                style='display:inline-block;width:320px;height:50px', 
                data-ad-client='ca-pub-1217362875741573', 
                data-ad-slot='5104547940'
            )
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});    
            .col-md-12.col-sm-12.col-xs-12.linkDiv_btns
                a(id="link" class="unlock-step-link getlink" href=link)
                    button.locked-button.unlock
                        i.fa.fa-unlock.fa-icon(aria-hidden="true", style="visibility: visible")
                        span.test Get link
                    br
            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            ins.adsbygoogle(
                style='display:inline-block;width:300px;height:250px',
                data-ad-client='ca-pub-1217362875741573', 
                data-ad-slot='2615156023'
            )
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});

block footer
