extends Partials/App.pug

block content
    .col-md-12.col-sm-12.col-xs-12.main_linkDiv
        .col-md-12.col-sm-12.col-xs-12.cntr_linkDiv
            .col-md-12.col-sm-12.col-xs-12.linkDiv_head
                h2 #{link.title}
            br
            br
            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            ins.adsbygoogle(
                style='display:inline-block;width:320px;height:50px', 
                data-ad-client='ca-pub-1217362875741573', 
                data-ad-slot='5104547940'
            )
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});
            .col-md-12.col-sm-12.col-xs-12.linkDiv_btns
                - for (detail in details) {
                    -
                        let media = undefined
                        switch(details[detail].media) {
                            case 'YouTube':
                                media = 'fa-youtube-square';
                                break;
                            case 'Facebook':
                                media = 'fa-facebook-square';
                                break;
                            case 'Instagram':
                                media = 'fa-instagram';
                                break;
                            case 'Twitter':
                                media = 'fa-twitter-square';
                                break;
                        }
                    a(
                        href=details[detail].link,
                        id='stepBtn' + detail,
                        target='_blank',
                        class='uk unlock-step-link check st' + detail
                    )
                        button.button1.link-1
                            i(
                                class='fa ' + media, 
                                aria-hidden='true'
                            )
                            span.icon #{details[detail].link_opt}
                        i.fa.fa-check(aria-hidden='true')
                        br
                        br
                - }
                a(id="link" class="unlock-step-link getlink" disabled="disabled")
                    button.locked-button
                        i.fa.fa-lock.fa-icon(aria-hidden="true")
                        span.test #{link.get_link}
                    br
                    br
            script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
            ins.adsbygoogle(
                style='display:inline-block;width:300px;height:250px',
                data-ad-client='ca-pub-1217362875741573', 
                data-ad-slot='2615156023'
            )
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});

    #theLinkID(style="display: none") #{link.id}
    #theGetLink(style="display: none") #{link.link_id}

block footer
    style.
        .main_linkDiv .cntr_linkDiv .linkDiv_btns a .locked-button .fa-unlock, .main_linkDiv .cntr_linkDiv .linkDiv_btns a .unlock{
            background-color: #4CAF50;
        }
        .footer_linkDiv .footer_styl{
            margin-top: 0;
        }
        .footer_linkDiv{
            padding: 0;
        }
        .example_responsive_1 { width: 320px; height: 100px; }
        @media(min-width: 500px) { .example_responsive_1 { width: 468px; height: 60px; } }
        @media(min-width: 800px) { .example_responsive_1 { width: 728px; height: 90px; } }
    script.
        $(document).ready(function()
        {
            $('.linkDiv_btns .uk').click(function()
            {
                var lid = $('#theLinkID')[0].innerHTML;
                var final_link = window.location.origin + '/link/get/' + lid;
                var res = 0;
                console.log(lid, final_link);
                var id = $(this).attr('id');
                if ($(this).hasClass('uk') == true)
                {
                    $("#" + id + " i.fa-check").css("visibility", "visible");
                    $("#" + id).removeClass("uk");
                    var var_data = 1;
                    /************for action count************/
                    $.ajax(
                    {
                        url: window.location.origin + '/link/count',
                        type: "POST",
                        data:
                        {
                            action: var_data,
                            id: lid
                        },
                        success: function(data)
                        {
                            console.log(data);
                        },
                        error: function(data)
                        {
                            console.log(data);
                        },
                    });
                    if ($(".check").hasClass('uk') == false)
                    {
                        res = 1;
                    }
                    if (res == 1)
                    {
                        var var_data = 1;
                        $('.getlink').removeAttr("disabled");
                        $('.getlink').attr('href', final_link);
                        $(".locked-button i").removeClass("fa-lock");
                        $(".locked-button i").addClass("fa-unlock");
                        $(".locked-button").addClass("unlock");
                    }
                }
            });
            $('.getlink').click(function()
            {
                var chk = 0;
                var var_data1 = 1;
                var lid = $('#theLinkID')[0].innerHTML;
                var final_link = window.location.origin  + '/link/get/' + lid;
                var res = 0;
                console.log(lid, final_link);
                if ($('.getlink button').hasClass('unlock') == true)
                {
                    /************for final link click count************/
                    $.ajax(
                    {
                        url: window.location.origin + "/link/count",
                        type: "POST",
                        data:
                        {
                            final_count: var_data1,
                            id: lid
                        },
                        success: function(data)
                        {
                            console.log(data);
                        },
                        error: function(data)
                        {
                            console.log(data);
                        },
                    });
                }
            });
        });
