extends Partials/App.pug

block content
    .container.hight_sty
        .col-md-12.col-sm-12.col-xs-12.mob_pd
            .col-md-5.col-sm-6.col-xs-12.form_cntr
                form(
                    action=BASE_URL + '/auth/login',
                    method='post'
                )#login-form
                    .form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='Enter email', name='email', required)
                    .form-group
                        label(for='pwd') Password:
                        input#pwd.form-control(type='password', placeholder='Enter password', name='password', required)
                    .form-group
                        //- p.frgt_ps
                        //-     a(href='forgot_password.php') Forgot your password ?
                        p.dnt_acc
                            | Don't have an account?
                            a(
                                href=BASE_URL + '/auth/register'
                            )  Sign-Up
                    button(type='submit', name='login') Submit

block footer
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script.
        $(document).ready(function () {
            $('#login-form').on('submit', function (e) {
                e.preventDefault();
                var email = document.getElementById('email').value;
                var password = document.getElementById('pwd').value;

                Pace.track(function () {
                    $.ajax({
                        url: window.location.origin + '/auth/login',
                        type: 'POST',
                        data: { email: email, password: password },
                        success: function(data) {
                            window.location.href = window.location.origin + "/user/dashboard";
                        },
                        error: function (error) {
                            swal('Oops', error.responseText, 'error');
                        }
                    });
                });
            });
        });
