extends Partials/App.pug

block content
    .container.hight_sty
        .col-md-12.col-sm-12.col-xs-12.mob_pd
            .col-md-5.col-sm-6.col-xs-12.form_cntr
                form(action=BASE_URL + '/auth/register', method='post')#register-form
                    .form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='Enter email', name='email', required)
                    .form-group
                        label(for='pwd') Password:
                        input#pwd.form-control(type='password', placeholder='Enter password', name='password'. required)
                    .form-group
                        label(for='rpwd') Confirm Password:
                        input#rpwd.form-control(type='password', placeholder='Confirm password', name='rpassword', required)
                    .form-group.mrg_tp
                        p.dnt_acc
                            | Already have an account? &nbsp;
                            a(
                                href=BASE_URL + '/auth/login'
                            ) Log in
                    button(type='submit', name='reg') Sign up &amp; Accept
                    br
                    br
                    .form-group.dnt_acc
                        | By tapping on Sign Up &amp; Accept, you agree to the &nbsp;
                        span.frgt_ps
                            a(href='#') Terms of Service
                        |  and 
                        span.frgt_ps
                            a(href='privacyPolicy.php') Privacy Policy

block footer
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script.
        $(document).ready(function () {
            $('#register-form').on('submit', function (e) {
                e.preventDefault();
                var email = document.getElementById('email').value;
                var password = document.getElementById('pwd').value;
                var rpassword = document.getElementById('rpwd').value;

                if (password !== rpassword) {
                    swal('Oops', 'The passwords do not match each other', 'error');
                } else {
                    Pace.track(function () {
                        $.ajax({
                            url: window.location.origin + '/auth/register',
                            type: 'POST',
                            data: { email: email, password: password, rpassword: rpassword },
                            success: function(data) {
                                window.location.href = window.location.origin + "/user/dashboard";
                            },
                            error: function (error) {
                                swal('Oops', error.responseText, 'error');
                            }
                        });
                    });
                }
            });
        });
